@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,500,600,700');


/* TODO: I could not for the life of me get root variables working
  in these modules, so without that and without sass, idk man */
/* GLOBAL COLORS */
/* :root {
  --brand-maroon:  #89110C, 100%
  --brand-tan:     #B29D6C, 100%
  --brand-black:   #141414, 100%
  --brand-grey:    #F2F2F2, 100%
} */

/* GLOBAL FONTS */
/* 
H1: Noto Sans, 600, 48px
H2: Noto Sans, 600, 32px
Nav: Noto Sans, 400, 18px
  SubNav: Noto Sans, 400, 12

*/


/* GLOBAL CARD PROPERTIES */
/* ====================== */
.priorityCard {
  /* border: 1px solid grey; */
  background-color: white;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  /* margin-left: 0rem; */
  font-family: 'Noto Sans';
}


/* HEADER PROPERTIES */
/* ================= */
.priorityCardHeader {
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Sans';
}

.priorityCardHeaderTitle {
  flex-basis: 58%;
  color: #89110C;
  font-weight: 500;
  font-size: 2.5rem;
}

.priorityCardHeaderButton {
  flex-basis: 21%;
  color: #FFFFFF;
  background-color: #89110C;
  border-radius: 7px;

  text-transform: uppercase;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  /* Some dumb shiz to get horizontal align */
  height: 100%;
  line-height: 100%;
  white-space: nowrap;

  margin: 0.5rem;
  padding: 1rem;
  transition: 0.15s all ease-in-out;
}

.priorityCardHeaderButton:hover {
  color: white;
  filter: brightness( 85% );
  transition: 0.15s all ease-in-out;
  text-decoration: none;
}

/* TODO: add the ::before hover for a square thing? */



/* BODY PROPERTIES */
/* =============== */
.priorityCardBody {
  margin-top: 1rem;
}

.priorityCardBodyHeader {
  /* text-transform: uppercase; */
  font-weight: 700;
}

.priorityCardBodyText {

}