.CustomTab {
  /* display: flex; */
  justify-content: space-between;
  margin: 3rem 7rem 2rem 7rem;
  font-family: Nunito;
}

.Btn {
  border: none;
  color: rgb(48, 42, 55);
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 1000;
  font-weight: bolder;
}

.activeBtn {
  border: none;
  color: #1a3185;
  background-color: transparent;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 1000;
}

@media (max-width: 760px) {
  .CustomTab {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
