.container {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin: 0 -0.5rem; /* counter the outer margins added to the columns below */
}

.map,
.sidebar {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px grey;
    margin: 0 0.5rem;
    padding: 1rem;
}

.map {
    flex: 3 1 auto;
}
.sidebar {
    flex: 1 0 220px;
}