.content {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-align: left;
}
.content a {
  text-decoration: none;
  color: var(--bs-blue);
}

/* Responsive Queries */

/* bootstrap: medium > 768px */
@media (max-width: 48em) {
  .content {
    padding-top: 2rem;
    font-size: 1.125rem;
  }
}
