.header:first-child {
  border-radius: 0 5rem 5rem 0;
}

.image {
  width: auto;
  margin: 0 3rem;
}

.imageItself {
  height: 10rem;
}

.space {
  width: 3rem;
  background-color: pink;
}

.header {
  flex-grow: 0;
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: left;
  color: #000;
  color: red;
}

.colRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 100%;
  height: auto;
  padding: 2rem 3rem;
  background: #ffffff;
  border-radius: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin: 3rem 0;
}

.textLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.textRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: left;
  color: #000;
}

.content {
  flex-grow: 0;
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: left;
  color: #000;
}

/* Responsive Queries */

/* bootstrap: medium > 768px */
@media (max-width: 48em) {
  .image {
    margin: 0;
    margin: auto;
  }
  .title {
    padding-top: 1rem;
  }
  .textLeft {
    padding-left: 1rem;
  }
}

/* bootstrap: small > 576px */
@media (max-width: 36em) {
  .title {
    font-size: 1.25rem;
  }
  .content {
    font-size: 1.125rem;
  }
}

/* bootstrap: xs < 576px
   this break at 464px */
@media (max-width: 29em) {
  .header {
    font-size: 1.25rem;
  }
}
