<section class="Orgs">
  <div class="sectionHeader">
    <h5 class="sectionTitle">Organizations</h5>
    <div class="sectionLine"></div>
  </div>
  <div class="sectionOrgs">
    {{#if digestData.orgs.1.orgTitle}}
    {{#each orgs}}
    {{> org }}
    {{/each}}
    {{else}}
    <article class="orgNoUpdates">
      {{> noUpdates }}
    </article>
    {{/if}}
  </div>
</section>