{
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "bracketSpacing": false
      }
    }
  ]
}
