rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /generalCourts/{document=**} {
      // public, read-only 
      allow read: if true;
      allow write: if false;
    }
    match /profiles/{uid} {
      // private, only accessible by the user
      allow read, write: if request.auth.uid == uid
    }
  }
}