rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /searchIndexes/{allPaths=**} {
      // Publicly readable, only written by the admin SDK
      allow read: if true;
      allow write: if false;
    }
  }
}
