.faqLayout {
  margin-bottom: 3rem;
  font-family: "Nunito";
}

.faqHeader {
  margin: 1.5rem 0rem 1.5rem 2rem;
  display: flex;
}

.faqHeader > h1 {
  font-size: 3rem;
}

.faqCard {
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem 2.5rem;
}

.faqCard h2 {
  color: #1a3185;
  font-size: 1rem;
  font-weight: bold;
}

.faqCard hr {
  color: black;
  opacity: 1;
}

.faqQA {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icon {
  margin-right: 0.5rem;
}

.answer {
  padding-left: 2.5rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

@media only screen and (max-width: 768px) {
  .faqCard {
    margin: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .faqHeader {
    margin: 1.5rem 0rem 1.5rem 0rem;
  }

  .mobileOffset {
    position: relative;
    top: -80px;
  }
}
