.text {
    color: #FFFFFF;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
}

.body {
		background-color: #1A3185;
		border-radius: 12px 12px 0 0;
		display: flex;
		align-items: center;
}

.img {
		height: 75px;
		width: 75px;
}

.title {
		margin-bottom: 0;
		font-size: 22px;
		line-height: 125%;
}

.subheader {
		margin-bottom: 5px;
		font-size: 16px;
		line-height: 125%;
}

.timestamp {
		font-size: 12px;
		line-height: 125%;
		letter-spacing: 0.03em;
}
