.toggleIcon::after {
  content: url("/angle-down-solid.svg");
  display: inline-block;
  width: 1rem;
  margin-left: 0.25rem;
  position: relative;
  top: 0.38rem;
}

.link {
  text-decoration: none;
}

.link2 {
  text-decoration: none;
  color: var(color);
}

.bottomborder {
  padding: 1rem 2rem;
  border-bottom: 1px solid #cecece;
}
.nobottomborder {
  padding: 1rem 2rem;
}

.heading {
  margin-bottom: 0;
}

.hr {
  margin: 0;
  border-bottom: 3px solid #cecece;
}
