<footer style="margin: 20px 47.5px 0 47.5px">
  <hr style="height: 3px; border-width: 0; color: #101010; background-color: #101010">
  <p style="font-weight: 600; font-size: 12px; line-height: 125%; letter-spacing: 0.03em;
            color: #000000; margin-top: 36px">
    This is an automatically-generated email from MAPLE that you opted into from your settings.
  </p>
  <p style="font-weight: 600; font-size: 12px; line-height: 125%; letter-spacing: 0.03em;
            color: #000000; margin-top: 18px">
    To Unsubscribe: click the link below, then click the Settings button and toggle Notifications 
  </p>
  <p style="font-weight: 600; font-size: 12px; line-height: 125%; letter-spacing: 0.03em;
            color: #000000; margin-top: 18px; margin-bottom: 36px">
    <!-- Unsubscribe -> replace with link to backend function that handles Unsubscribe -->
    <a href="https://www.mapletestimony.org/edit-profile/about-you" target="_blank" rel="noopener noreferrer">Unsubscribe</a>
    |
    <a href="https://mapletestimony.org/policies/copyright" target="_blank" rel="noopener noreferrer">Copyright</a>
    |
    <a href="https://mapletestimony.org/policies/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
    |
    <a href="https://www.mapletestimony.org/policies/code-of-conduct" target="_blank" rel="noopener noreferrer">Code of Conduct</a>
  </p>
</footer>