<footer class="footer">
  <div class="footerLine"></div>
  <p class="footerContent">This is an automatically-generated email from MAPLE
    that you opted into from your settings.
    <br />
    <br />
    <!-- Unsubscribe -> add link to User's profile - notifications model -->
    <!--   or backend function that handles Unsubscribe -->
    Unsubscribe |
    <a href="https://mapletestimony.org/policies/terms-of-service">Terms &
      Conditions</a>
    |
    <a href="https://mapletestimony.org/policies/privacy-policy">Privacy and
      Community Guidelines</a>
  </p>
</footer>