<footer class="footer">
  <!-- <div class="footerLine"></div> -->
  <hr>
  <p class="footerContent">This is an automatically-generated email from MAPLE
    that you opted into from your settings.
    <br />
    To Unsubscribe: click the link below, then click the Settings button and toggle Notifications 
    <br />
    <!-- Unsubscribe -> replace with link to backend function that handles Unsubscribe -->
    <a href="https://www.mapletestimony.org/edit-profile/about-you" target="_blank" rel="noopener noreferrer">Unsubscribe</a>
    |
    <a href="https://mapletestimony.org/policies/copyright" target="_blank" rel="noopener noreferrer">Copyright</a>
    |
    <a href="https://mapletestimony.org/policies/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy and
      Community Guidelines</a>
  </p>
</footer>