<footer class="footer">
  <div class="footerLine"></div>
  <p class="footerContent">This is an automatically-generated email from MAPLE
    that you opted into from your settings.
    <br />
    <br />
    <!-- Unsubscribe -> add link to User's profile - notifications model -->
    <!--   or backend function that handles Unsubscribe -->
    <!-- Terms & Cond -> add link to appropriate Maple subpage -->
    <!-- Privacy and Comm -> add link to appropriate Maple subpage -->
    Unsubscribe | Terms & Conditions | Privacy and Community Guidelines
  </p>
</footer>