<div id="logo" class="logo bg-blue">
  <img src="/nav-logo.svg" alt="Maple Logo" />
</div>

<header class="header">
  <div>
    <h2 class="headline blue">Here is your
      {{toLowerCase notificationFrequency}}
      report!
    </h2>
    <p class="subheadline blue center">{{startDate}} - {{endDate}}</p>
  </div>
  <img src="/Mail Report.svg" alt="Maple Logo" />
</header>