<div id="nav" style="background-color: #1a3185; color: #FFFFFF; width: 600px">
  <div style="display: block; margin: auto; width: 43%">
    <p style="display: inline-block; font-weight: 500; font-size: 16px; line-height: 125%;
              letter-spacing: 0.015em; margin-right: 4px; margin-bottom: 0px"
    >
      see more at your
    </p>
    <p style="gap: 4px; margin-top: 10px; margin-bottom: 10px; display: inline-block">
      <a style="background-color: #1a3185; border-color: #FFFFFF; padding: 7px 10px;
                color: #FFFFFF; text-decoration:none; font-size:14px; font-family:Roboto,sans-serif;
                border-radius:5px; border-style: solid; border-width: thin" 
         href="https://mapletestimony.org/newsfeed"
         target="_blank"
         rel="noopener noreferrer"
      >
        <img src="email\images_no-svgs\newspaper.png" alt="" />
        Newsfeed
      </a>
    </p>
  </div>
</div>