<nav class="navHeader bg-blue white">
  <p class="navText">see more at your</p>

  <!-- change link to newsfeed page on maple website when available -->

  <p>
    <a style="background-color: #1a73e8; padding: 10px 20px;
              color: white; text-decoration:none;font-size:14px;
              font-family:Roboto,sans-serif;border-radius:5px" href="https://mapletestimony.org/newsfeed">Newsfeed
    </a>
  </p>

  <button
    onclick="window.location.href='https://mapletestimony.org/newsfeed';"
    class="navButton bg-blue"
  >
    {{!-- <img src="maple.png" alt="Newsfeed Icon" /> --}}
    <img src="https://mapletestimony.org/nav-logo.svg" alt="Newsfeed Icon" />
    <!-- <img src="/Newsfeed Icon.svg" alt="Newsfeed Icon" />  -->
    <p class="navButtonText white">Newsfeed</p>
  </button>
</nav>