<nav class="navHeader bg-blue white">
  <p class="navText">see more at your</p>

  <!-- change link to newsfeed page on maple website when available -->
  <button
    onclick="window.location.href='https://mapletestimony.org/newsfeed';"
    class="navButton bg-blue"
  >
    <img src="/Newsfeed Icon.svg" alt="Newsfeed Icon" />
    <p class="navButtonText white">Newsfeed</p>
  </button>
</nav>