<div class="noUpdatesIcon">
  <img src="https://mapletestimony.org/email/images_no-svgs/empty-mail.png" alt="Empty Mail" />
</div>
<h5 style="font-weight: 600; font-size: 25px; line-height: 125%; margin-bottom: 0px;
          display: block; margin: auto; width: 65%; color: #000000"
>No updates for
  {{noUpdatesFormat notificationFrequency}}!
</h5>