.imgsize {
  height: 8rem;
}

.missionHeader {
  font-size: 2rem;
  letter-spacing: -0.625px;
  margin-top: -1rem;
  padding-bottom: 2rem;
  color: var(--bs-orange);
}

.goalsHeader {
  font-size: 1.25rem;
  line-height: 27.28px;
  letter-spacing: -0.625px;
  margin-top: -1rem;
  padding-bottom: 2rem;
}

.caption {
  font-family: Nunito, sans-serif;
  font-size: 1.25rem;
  line-height: 27.28px;
  letter-spacing: -0.625px;
  text-align: left;
  margin-top: 0.875rem;
}

.body {
  font-family: Nunito, sans-serif;
  font-size: 1.25rem;
  line-height: 27.28px;
  letter-spacing: -0.625px;
}

.justifyContentBetween {
  display: flex;
  /* justify-content: space-around; */
}

.one {
  text-align: center;
}

.two {
  text-align: center;
}

/* .three {
  text-align: center;
} */

.oneTwoImage {
  padding-bottom: 13px;
}

.threeImage {
  padding-left: 0;
}

.testimonyDisclaimer {
  background-color: white;
}

@media (max-width: 991px) {
  .threeImage {
    padding-left: 1.6rem;
  }
}

.oneTwoThreeImage {
  align-items: end;
}

.submitTestimony {
  color: #c71e32;
}

@media (max-width: 992px) {
  .testimonyDisclaimer {
    margin: -1rem -5.07rem;
    background-color: var(--bs-blue);
    color: white;
    padding: 1.75rem 1.25rem;
    line-height: 22.21px;
  }
  .body {
    /* padding-top: 2rem; */
    padding-bottom: 2rem;
    text-align: left !important;
  }
  .one {
    text-align: left !important;
  }
  .two {
    text-align: right !important;
  }
  .three {
    text-align: left !important;
  }

  .oneTwoThreeImage {
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  .goalsHeader {
    font-size: 1.125rem;
    line-height: 22.21px;
  }
  .missionHeader {
    font-size: 1.25rem;
    padding-bottom: 0;
  }
  .caption {
    font-size: 1.125rem;
    text-align: center;
  }
  .body {
    font-size: 1.125rem;
    line-height: 22.1px;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .testimonyDisclaimer {
    margin: -1rem -1.86rem;
    background-color: var(--bs-blue);
    color: white;
    padding: 1.75rem 1.25rem;
    line-height: 22.21px;
  }
  .stepsImages {
    height: 118px;
  }
  .submitTestimony {
    font-size: 1.125rem;
    letter-spacing: -0.7px;
  }
}
