.h1 {
  font-weight: bold;
}

/* ---------- Policy Links --------------*/
.policyContent button {
  background: none;
  color: #000;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 30%);
  border-radius: 0!important;
}


/* ---------- Policy Content ------------*/
.policyContent ul {
  background: #fff;
  list-style-type: none;
  padding: 0 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.policyContent:last-child {
  margin-bottom: 50px;
}

.policyContent hr {
  background: transparent;
}

.policyContent ul hr {
  background: #000;
  height: 2px;
}

.policyContent ul + li{
  list-style-type: circle;
}

.policyContent ul li ul li  {
  list-style-type: initial;
}

.policyContent h2 {
  color: #1a3185;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 20px;
}

.policyContent h3 {
  color: #1a3185;
  font-size: 1rem;
  font-weight: bold;
}



