.policyContent {
  margin-top: 1rem;
  font-family: "Nunito";
}

.sharedValues {
  font-size: 1rem;
  font-weight: 700;
  color: #1a3185;
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.subHeading {
  font-weight: bold;
}

.text1 {
  font-weight: 400;
}

.text2 {
  margin-bottom: 1.5rem;
}

.boxContainer {
  display: flex;
  justify-content: space-evenly;
}

.blueBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 100px;
  background: #1a3185;
  border-radius: 10px;
}

.symbol {
  width: 60px;
  height: 55px;
}

.values {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  padding-top: 1rem;
}

hr.bottomBorder {
  border-bottom: 2px solid rgba(0, 0, 0, 100%);
  width: 100%;
}

/* ---------- Policy Links --------------*/
.policyContent button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: none;
  color: #000;
  width: 100%;
  margin-bottom: 24px;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 30%);
  border-radius: 0 !important;
}

.policyContent button:focus {
  color: initial;
  background: initial;
  border: initial;
  box-shadow: none !important;
}

.policyContent br {
  display: none;
}

.policyContent button.currentTab {
  border-bottom: inset 5px #902323;
  color: #902323;
}

.policyContent button:hover,
.policyContent button.currentTab:hover {
  color: #fff;
  background-color: #902323;
  border-bottom: inset 5px #902323;
}

/* ---------- Policy Content ------------*/
.policyContent ul {
  background: #fff;
  list-style-type: none;
  padding: 0 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.policyContent:last-child {
  margin-bottom: 50px;
}

.policyContent hr {
  background: transparent;
}

.policyContent ul hr {
  background: #000;
  height: 2px;
}

.policyContent ul + li {
  list-style-type: circle;
}

.policyContent ul li ul li {
  list-style-type: initial;
}

.policyContent h1 {
  margin: 0px 0px 24px 0px;
}

.policyContent h2 {
  color: #1a3185;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 45px;
}

.policyContent h3 {
  color: #1a3185;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .policyContent button {
    min-height: 90px;
  }
}

@media (max-width: 400px) {
  .policyContent button {
    min-height: 125px;
  }
}
