.container {
  height: 0;
  width: 100%;
  overflow-y: visible;
}

.firstLeaf {
  position: relative;
  left: 100%;
  transform: translate(-62%, -50%) rotate(270deg);
}

.secondLeaf {
  position: relative;
  transform: translate(-30%, -60%);
}

.thirdLeaf {
  z-index: 2;
  position: relative;
  left: 100%;
  transform: translate(-62%, 53%) rotate(270deg);
}

.fourthLeaf {
  z-index: 1;
  position: relative;
  transform: translate(30%, -67%);
}
