.container {
  color: white;
  background-color: #1a3185;
}

.btncontainer {
  display: inline-block;
  padding: 0.25em;
}

.infoRow {
  height: fit-content;
  outline: 3px solid brown;
}

.skyline {
  align-self: flex-end;
  justify-self: center;
}

.clouds {
  align-self: end;
  justify-self: center;
}

.statehouse {
  z-index: 1;
  align-self: end;
  justify-self: center;
}