.container {
  color: white;
  background-color: #1a3185;
}

.btncontainer {
  display: inline-block;
  padding: 0.25em;
}

.skyline {
  /* background-image: url("../../public/skyline.png");
  background-size: fill;
  background-repeat: no-repeat;
  background-position: bottom; */
  transform-origin: top center;
  transform: scale(1.1);
}

.clouds { 
  /* background-image: url("../../public/clouds.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; */
  /* transform-origin: 50% 0;
  transform: scale(1.1);
  overflow: visible; */
}