@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,500,600,700');

/* TODO: I could not for the life of me get root variables working
  in these modules, so without that and without sass, idk man */
/* GLOBAL COLORS */
/* :root {
  --brand-maroon:  #89110C, 100%
  --brand-tan:     #B29D6C, 100%
  --brand-black:   #141414, 100%
  --brand-grey:    #F2F2F2, 100%
} */


.container {
  background-color: #F2F2F2;
}


.imageHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  color: #ffffff;
  height: 11rem;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://easytodogood.com/wp-content/uploads/2020/07/cropped-BC-LAW.jpg");
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageText {
  background-color: rgba( 0, 0, 0, 0.4 );
  padding: 0.3rem 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Noto Sans";
  letter-spacing: 0.1rem;
}



.newLayoutFlex {
  display: flex;
}

.newLayoutSideNav {
  /* padding: 1rem; */
  flex-basis: 20%;
}

.newLayoutContent {
  /* padding: 1rem; */
  flex-basis: 80%;
  /* background-color: blue; */
}


/* 
By the powers of fire, earth, wind
  water, heart, and democracy
*/
.democracyPower {
  height: 5rem;
  line-height: 100%;
  white-space: nowrap;
  font-size: 1.3rem;

  color: white;
  background-color: #89110C;

  text-transform: uppercase;
  margin-left: 0;
  padding-left: 0;

  /* non-janky horizontal centering */
  text-align: center;

  /* Janky vertical centering */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

