.mobile_nav_auth {
  width: 100%;
  padding-top: 10px;
}

.mobile_nav_auth > button {
  width: 100%;
}

.navbar_boxes_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 8px 60px;
  flex: 1 0 0;
}

.navbar_box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_box:first-child > * {
  margin-right: auto;
}

.navbar_box:last-child > * {
  margin-left: auto;
}

.pageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
