.header:first-child {
  border-radius: 0 5rem 5rem 0;
}

.header {
  position: absolute;
  background-color: var(--bs-red);
  color: white;
  width: max-content;
  height: 1.8em;
  line-height: 1.2em;
  padding-right: 4rem;
  padding-left: 2rem;
  transform: translate(-2rem, 40%);
  overflow: hidden;
}


.card {
  margin: 1rem;
  border-radius: 1rem;
  background: var(--bs-white);
}

.body {
  margin: 4em 1em 0 1em;
}

.footer:last-child{
  border-radius: 0 0 1rem 1rem;
  background: var(--bs-secondary);
}

