.angledTop {
  position: relative;
  height: auto;
  padding-top: 10em;
  margin-bottom: 4em;
  padding-bottom: 8em;
  background-color: var(--bs-blue);
  z-index: 1;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
}
