<section class="Bills">
  <div class="sectionHeader">
    <h6 class="sectionTitle">Bills</h6>
    <div class="sectionLine"></div>
  </div>
  <div class="sectionBills">
    {{#each bill}}
      {{> bill }}
    {{/each}}
  </div>
</section>