<section class="Bills" style="margin-left: 47.5px; margin-right: 47.5px; padding-bottom: 20px">
  <div class="sectionHeader">
    <h5 class="sectionTitle">Bills</h5>
    <div class="sectionLine"></div>
  </div>
  <div class="sectionBills">
    {{#each bills}}
      {{> bill}}
    {{else}}
      <article class="billNoUpdates">
        {{> noUpdates }}
      </article>
    {{/each}}
  </div>
</section>