<article class="bill">
  <div class="billTitle">
    {{this.billId}}
  </div>
  <div class="billSubtitle">
    {{this.billName}}
  </div>
  <div class="billContent">
    <div class="billContentRow">
      <div class="billContentNum numBox1">
        <div class="billContentNumInner">
          {{this.newTestimonyCount}}
        </div>
      </div>
    </div>
    <div class="billContentRow">
      <div class="billContentTitle">
        New Testimonies
      </div>
    </div>
  </div>
</article>