.imageRight {
  transform: translate(-2rem);
}

.imageLeft {
  transform: translate(2rem);
}

.textLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background: #ffffff;
  border-radius: 12px;
}

.textRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background: #ffffff;
  border-radius: 12px;
}