.header:first-child {
  border-radius: 0 5rem 5rem 0;
}

.image {
  width: 20rem;
  display: flex;
  align-items: center;
}

.imageRight {
  transform: translate(-2rem);
}

.imageLeft {
  transform: translate(2rem);
}

.space {
  width: 3rem;
}

.header {
  flex-grow: 0;
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: left;
  color: #000;
}

.card {
  width: 100%;
  height: auto;
  padding: 2rem 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin: 3rem 0;
}

.textLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background: #ffffff;
  border-radius: 12px;
}

.textRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background: #ffffff;
  border-radius: 12px;
}

.title {
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: left;
  color: #000;
  margin-bottom: 1rem;
}

.content {
  flex-grow: 0;
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: left;
  color: #000;
}

@media (max-width: 760px) {
  .text {
    font-size: 1rem;
  }
  .image {
    width: 50%;
    margin: 0 25%;
    transform: translate(0, 2rem);
  }
  .card {
    margin: 0;
    padding: 0;
  }
}

.colRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
