.textLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background: #ffffff;
  border-radius: 12px;
}

.textRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background: #ffffff;
  border-radius: 12px;
}