.heading {
  color: var(--bs-blue);
  font-size: 4em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3em;
}

.podium {
  margin-bottom: 10.3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  max-width: 40em;
  margin-bottom: 6em;
}

.carousel h1 {
  font-size: 3.375em;
}

.carouselControlNextIcon {
  width: 37px;
  height: 37px;
  background-image: url("../../public/carousel-right.png");
  background-repeat: no-repeat;
}

.carouselControlPrevIcon {
  width: 37px;
  height: 37px;
  background-image: url("../../public/carousel-left.png");
  background-repeat: no-repeat;
}

.eventSection {
  width: 43em;
  margin-bottom: 2em;
}

.card {
  background: white;
  font-family: Nunito;
  font-weight: 400;
  border: 2px var(--bs-blue) solid;
  width: 20em; /* width: 269px; */
  margin-bottom: 2em;
  border-radius: 0.5em;
  display: block;
  height: fit-content;
}

@media (max-width: 1400px) {
  .card {
    margin-left: 8.2em;
  }
}

.cardHeader {
  color: white;
  background: var(--bs-blue);
  padding-top: 0.25em;
  padding-left: 1em;
  height: 3.21em; /* 51.94px */
  border-radius: 0.3125em 0.3125em 0 0;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}

.month {
  font-size: 1rem;
  line-height: 1;
}

.date {
  font-size: 1.5rem;
  line-height: 0;
}

.day {
  font-size: 1.5rem;
}

.cardBody {
  padding: 1em 1.5em 0em 1.5em;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 35% 65%;
}

.name {
  margin-left: 0.625em;
  line-height: 1.2;
  color: var(--bs-blue);
  margin-bottom: 0.5em;
}

.location {
  color: var(--bs-blue);
  line-height: 1.2;
  margin-left: 0.625em;
}

.noEvents {
  color: var(--bs-blue);
  width: 39.5em;
  text-align: center;
}

.loading {
  width: 39.5em;
  display: grid;
}
