<html>
  <head>
    <title>Digest Email</title>
    <link rel="stylesheet" type="text/css" href="email/style.css" />
  </head>

  <body style="background: white; width: 600px; min-height: 80vh; font-family: 'Nunito';
                            font-style: normal">
    {{> header }}

    {{> bills }}

    {{> users }}

    {{> newsFeedLink }}

    {{> footer }}
  </body>
</html>
