<html>
  <head>
    <title>Digest Email</title>
    <link rel="stylesheet" type="text/css" href="email/style.css" />
  </head>

  <body class="font">
    {{> header }}

    {{> bills }}

    {{> users }}

    {{> newsFeedLink }}

    {{> footer }}
  </body>
</html>
