<html>
  <head>
    <title>Digest Email</title>
  </head>
  <body>
    {{> header }}
    <h2>Here is your weekly report!</h2>
    <p>{{startDate}} - {{endDate}}</p>

    {{> bills }}

    {{> orgs }}

    {{> newsFeedLink}}

    {{> footer}}
  </body>
</html>