<html>
  <head>
    <title>Digest Email</title>
    <link rel="stylesheet" type="text/css" href="/email/header.css" />
  </head>

  <body class="font">
    <div id="logo" class="logo">
      <img src="/nav-logo.svg" alt="Maple Logo" />
    </div>
    <header class="header">
      <div>
        <h2 class="headline">Here is your {{notificationFrequency}} report!</h2>
        <p class="subheadline bg-blue center">{{startDate}} - {{endDate}}</p>
      </div>
      <img src="/Mail Report.svg" alt="Maple Logo" />
    </header>

    <section>
      <div class="sectionHeader">
        <h6 class="sectionTitle">Bills</h6>
        <div class="sectionLine"></div>
      </div>
    </section>

    <section>
      <div class="sectionHeader">
        <h6 class="sectionTitle">Organizations</h6>
        <div class="sectionLine"></div>
      </div>
    </section>

    <nav>News Feed Button</nav>

    <footer>Legal Stuff</footer>
  </body>
</html>

{{!--
  Intended Layout:

    {{> header }}  
    {{> bills }}
    {{> orgs }}
    {{> newsFeedLink}}
    {{> footer}}

    -----
    header.handlebars 
    {{> logo }}
    {{> report.frequency }}
    {{> report.dates }}

  TODO:
    [x] figure out svg -> handlebars compatibility
    
    [x] figure out better way to preview svgs in VSCode

    [ ] set up path for handlebars to:
      locate partials
      register helpers

    [ ] review folder locations & conventions:
      style={{}} seems to throw errors in children of CreateMeta:
        most likely works with .tsx but not .handlebars files

      currently using css with: 
        <link rel="stylesheet" href="/email/<cssFileName>.css" />
      currently located at:
        /public/email/<cssFileName>.css

      when attempting to use location in /functions/...
        Refused to apply style from 'http://localhost:6006/functions/src/email/digestEmail.css'
        because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict
        MIME checking is enabled.
--}}