/* .sidebar {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px grey;
    margin: 0 0.5rem;
    padding: 1rem;
    flex: 1 0 220px;
} */

/* .sidebar ul {
    padding-left: 1em;
  } */

.twitter {
  display: inline-block;
  border: none;
  padding: 5px;
  font: 24px/36px sans-serif;
  width: 350px;
  height: 60vh;
  overflow: scroll;
}

/* Scrollbar styles */
.twitter::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.twitter::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

.twitter::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}

.twitter::-webkit-scrollbar-thumb:hover {
  background: #999;
}
