.sectionBody {
  margin: 1rem;
  border-radius: 20px;
  border: 2px solid blue;
}

.userIcon {
  mask: url("../../public/profile-icon.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  height: 5em;
  width: 5em;
  background: var(--bs-blue);
  border-radius: 50%; 
  outline: 0.3em solid white;
  outline-offset: -0.4em;
}

.userIconWrap {
  display: grid;
  place-content: center;
  padding:0;
  height: 7em;
  width: 7em;
  border-radius: 50%;
  outline: 1.2em solid var(--bs-blue);
  outline-offset: -1.2em;
  background-color: white;
}

.displayFace1 {
  margin: 0;
  font-family: Nunito;

  font-size: 44px;

  font-weight: 500;

  letter-spacing: -0.63px;

  text-align: justify;

  color: #000;
  line-height: 1.1em;
}

.displayFace2 {
  margin: 0;
  font-family: Nunito;

  font-size: 24px;

  font-weight: 500;

  letter-spacing: -0.63px;

  text-align: justify;

  color: #000;
  line-height: 1.1em;
}

.activityLevel {
}

.activityLevelTitle {
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 2px solid white;
}
