.sectionBody {
  margin: 1rem;
  border-radius: 20px;
  border: 2px solid blue;
}

.fakeyIcon {
  height: 100%;
  width: 100%;
  transform: translateY(15%) rotate(60deg);
}

.fakeyIconWrap {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  outline: 1.2rem solid var(--bs-blue);
  outline-offset: 2px;
  background-color: var(--bs-white);
}

.fakeyIconWrap::after {
  content: "D";
  color: white;
  text-align: center;
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  background-color: var(--bs-blue);
  border-radius: 100%;
  transform: translate(2.3rem, -1.3rem);
}

.displayFace1 {
  margin: 0;
  font-family: Nunito;

  font-size: 44px;

  font-weight: 500;

  letter-spacing: -0.63px;

  text-align: justify;

  color: #000;
  line-height: 1.1em;
}

.displayFace2 {
  margin: 0;
  font-family: Nunito;

  font-size: 24px;

  font-weight: 500;

  letter-spacing: -0.63px;

  text-align: justify;

  color: #000;
  line-height: 1.1em;
}

.activityLevel {
}

.activityLevelTitle {
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 2px solid white;
}
