.scrollContainer {
  --scroll-position: 0;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1a3185;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layerChild {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  transform: translateY(calc(var(--scroll-speed-ratio) * var(--scroll-position)))
}