.text {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
}

.agreebox {
    background-color: #EAE7E7;
    border-radius: 10px;
    padding: 12px;

}

.checkbox {
    color: #1A3185; 
    background: transparent; 
}

.hr{
    color: black;
    background-color: black;
    height:10px;
}

.readmore {
    color: #1A3185; 
    background: transparent; 
    white-space: nowrap;
}

.button {
    width: 100%; 
}

.warning {
    font-weight: bold
}

.link {
    text-decoration: none;
}

.svg {
    margin-left: 8px; 
    margin-bottom: 5px; 
}