.text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 500;
}

.hr {
  color: black;
  background-color: black;
  height: 10px;
}

.button {
  width: 100%;
}

.warning {
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.subscribe {
  text-align: center;
  font-size: 1.15rem;
  margin-top: 5%;
  margin-bottom: -2%;
  color: var(--bs-blue);
}

.subscribe:a {
  color: #1a3185;
}
