.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items:space-between;
  margin: -1rem; /* counter the outer margins added to the columns below */
}

.map,
.sidebar,
.letterContainer {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 1px 1px -1px lightgrey;
  margin: 0.25rem 0;
  padding: 1rem;
}

.map {
  flex: 3 1 auto;
}
.sidebar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sidebarSection {
		margin-left: 30px;
}

.legendConatiner {
		width: 75%;
}

.link {
		color: #8c1914;
}

.sidebar ul {
  padding-left: 1em;
}

.sidebar a {
		color: #89110C;
}

.letterContainer {
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

.disclaimerTitle {
		padding-left: 10px;
		color: black;
		font-weight: 500;
		font-size: 1.2em;
}

.iconContainer {
		width: 33%;
		display: flex;
    flex-direction: column;
		justify-content: space-around;
}

.iconsLegend {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
}

.iconColorLegend {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		border: 1px solid lightgrey;
		border-radius: 5px;
}

.iconAndTitle {
		display: flex;
		flex-direction: column;
		align-items: center;
}

.disclaimerContainer  {
		justify-self: flex-end;
		width: 15rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.priorityCardHeaderButton {
  display: flex-end;
  color: #FFFFFF;
  background-color: #89110C;
  border-radius: 7px;

  text-transform: uppercase;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: .75em;

  /* Some dumb shiz to get horizontal align */
  line-height: 100%;
  white-space: nowrap;

  margin: 0.5rem;
  padding: 1rem;
  transition: 0.15s all ease-in-out;
}

.priorityCardHeaderButton:hover {
  color: white;
  filter: brightness( 85% );
  transition: 0.15s all ease-in-out;
  text-decoration: none;
}
.arrow-up {
  width: 1rem;
  height: 10rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}
