.testimonyCalloutContainer {
  background-color: var(--green);

}

.testimonyCalloutContainerTriangle {
  content: " ";
  width: 1em;
  border-left: 2em solid var(--bs-white);
  border-bottom: 2em solid transparent;

}

.testimonyCalloutBodyText {
  height: 3em;
  overflow: hidden;
  word-wrap: anywhere;
  color: var(--bs-white);
}

.endorse {
  background-color: var(--bs-green);
}

.neutral {
  background-color: var(--bs-blue);
}

.oppose {
  background-color: var(--bs-red);
}

.flipRotate {
  transform-origin: center;
  transform: scale(1, -1) rotate(-70deg);
}

.flip {
  transform-origin: center;
  transform: scale(1, -1);
}