.header:first-child {
  border-radius: 0 5rem 5rem 0;
}

.header {
  background-color: #c03442;
  width: max-content;
  padding-top: o;
  padding-bottom: 0;
  padding-right: 4rem;
  padding-left: 2rem;
  height: 5rem;
  transform: translate(-3rem, -40%);
  overflow: hidden;
  line-height: 5rem;
  font-weight: 900;
}

.card {
  margin: 3rem 2rem;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 12px;
}

.subheader {
  flex-grow: 0;
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: left;
  color: #000;
}

.text {
  flex-grow: 0;
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
  text-align: left;
  color: #000;
}

@media (max-width: 600px) {
  .text {
    font-size: 1rem;
  }
}

.colRow {
  padding-right: 4rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardBody {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
