.container {
  font-family: Nunito;
}

.header {
  font-size: 3.75rem;
  transform: translate(-5.25rem);
}

.subheader {
  font-size: 1.5rem;
  transform: translate(-5.25rem);
  padding-bottom: 4rem;
}

/* bootstrap: medium > 768px */
@media (max-width: 48em) {
  .header {
    font-size: 2.25rem;
    transform: translate(-2rem);
  }
  .subheader {
    transform: translate(-2rem);
  }
}
