.font {
  font-family: 'Nunito';
  font-style: normal;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 216px 16px 50px;
  gap: 10px;

  background-color: #1a3185;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px 12px;
  gap: 16px;

  background: #FFFFFF;
}

.headline {
  font-weight: 700;
  font-size: 31px;
  line-height: 125%;

  color: #1A3185;
  margin: 0px;
}

.subheadline {
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;

  margin: 0px;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 125%;

  color: #C71E32;
  margin-right: 20px;
  margin-left: 47.5px;
  margin-bottom: 0px;
}

.sectionLine {
  border: 1px solid #C71E32;
  height: 0px;
  flex-grow: 1;
  min-width: max-content;
  margin-right: 47.5px;
}

/* modifiers */
.bg-blue {
  color: #1A3185;
}

.center {
  display: flex;
  justify-content: center;
}