.font {
  font-family: 'Nunito';
  font-style: normal;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 216px 16px 50px;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px 12px;
  gap: 16px;

  background: #FFFFFF;
}

.headline {
  font-weight: 700;
  font-size: 31px;
  line-height: 125%;

  margin: 0px;
}

.subheadline {
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;

  margin: 0px;
}

/* major section types start*/

.sectionBill, .sectionOrg, .footer {
  margin-left: 47.5px;
  margin-right: 47.5px;
}

.sectionBill {
  margin-bottom: 56px;
}

.sectionOrg {
  margin-bottom: 32px;
}

.footer {
  flex-direction: column;
  margin-top: 20px;
}

/* major section types end*/

.sectionHeader, .navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 125%;

  color: #C71E32;
  margin-right: 20px;
  margin-bottom: 0px;
}

.sectionLine {
  border: 1px solid #C71E32;
  height: 0px;
  flex-grow: 1;
  min-width: max-content;
}

.navText {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.015em;

  margin-right: 4px;
  margin-bottom: 0px;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 4px;

  border: 1px solid #FFFFFF;
  border-radius: 4px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.navButtonText {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;  
  text-align: center;
  letter-spacing: 0.015em;

  margin-bottom: 0px;
}

.footerLine {
  border: 1px solid #979797;
  height: 0px;
  flex-grow: 1;
  min-width: max-content;
}

.footerContent {
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.03em; 
  color: #000000;

  display: inline-block;
  margin-top: 36px;
  margin-bottom: 36px;
}

/* modifiers */

.center {
  display: flex;
  justify-content: center;
}

/* modifiers - colors */

.blue {
  color: #1A3185;
}

.bg-blue {
  background-color: #1A3185;
}

.white {
  color: #FFFFFF;
}