.aboutWrapper {
  display: flex;
}

.sharedValues h3 {
  text-align: center;
}

.sharedValues h4 {
  text-align: center;
}

.sharedValues ul {
  display: table;
  margin: 0 auto;
  margin-bottom: 50px;
}

.posterContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.learnWithPosters {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.posterImgLink {
  margin-top: 50px;
}

.posterImages {
  height: 517px;
  width: 316px;
}
