.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn {
  padding: 1rem;
}

.btn-outline-secondary,
.offcanvas {
  background-color: var(--bs-body-bg) !important;
}

.btn-disabled {
  background-color: #c3bebe;
  color: black;
  border: none;
}

.whitebackground {
  background-color: white;
}

.bg-endorse {
  background-color: var(--bs-green);
}

.bg-neutral {
  background-color: var(--bs-blue);
}

.bg-oppose {
  background-color: var(--bs-orange);
}
