.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-text.navbar-section-header {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.btn {
  padding: 1rem;
}

.btn-outline-secondary,
.offcanvas {
  background-color: var(--bs-body-bg) !important;
}

.btn-disabled {
  background-color: #c3bebe;
  color: black;
  border: none;
}

.whitebackground {
  background-color: white;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.navbar {
  flex-grow: 1;
}

.navbar-nav {
  flex-grow: 1;
}

.dropdown-toggle {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}

.navbar-dark .navbar-nav,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.dropdown-toggle::after,
.dropdown-toggle[aria-expanded="true"]::after {
  width: 25px;
  padding: 0;
  border: none;
  color: transparent;
  border: none;
  background: url("../public/angle-right-solid.svg") no-repeat;
  background-size: 0.75em;
  background-position: right;
}

.dropdown-toggle[aria-expanded="true"]::after {
  background: url("../public/angle-down-solid.svg") no-repeat;
  background-position: right;
}

.dropdown-menu {
  transition: 0.4s;
}

.dropdown-menu.show {
  background-color: #000;
  transition-timing-function: ease;
}
