@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Archivo, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}

a {
  color: #8c1914;
  text-decoration: none;
  background-color: transparent;
}

.link {
  color: #8c1914;
}

* {
  box-sizing: border-box;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*these can be changed once we figure out what to do with the color scheme */

.btn-primary {
  background-color: #c71e32;
  padding: 1rem;
}

.btn-secondary {
  background-color: white;
  border: 1px solid #1a3185;
  color: #1a3185;
  padding: 1rem;
}

.btn-success {
  background-color: #3d9922;
  color: white;
  padding: 1rem;
}

.btn-delete {
  background-color: #a92929;
  padding: 1rem;
}

.btn-disabled {
  background-color: #c3bebe;
  color: black;
  border: none;
  padding: 1rem;
}

/*imports the new font for headers and applies them to all headers*/

@font-face {
  font-family: "Futura";
  src: local("Futura"),
    url("../public/fonts/futura_medium_bt.ttf") format("truetype");
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura;
}
