.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-text.navbar-section-header {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.navLink-primary {
  font-weight: bold;
}

.dropdown-menu {
  background-color: #1a3185;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-item {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-item:hover {
  background-color: #1a3185;
}

.btn {
  padding: 1rem;
}

.btn-outline-secondary {
  background-color: white;
}

.offcanvas {
  background-color: var(--bs-body-bg) !important;
}

.btn-disabled {
  background-color: #c3bebe;
  color: black;
  border: none;
}

.modal-header {
  background-color: var(--bs-blue);
  color: white;
}

.modal-content {
  border: none;
}

.whitebackground {
  background-color: white;
}

.bg-endorse {
  background-color: var(--bs-green);
}

.bg-neutral {
  background-color: var(--bs-blue);
}

.bg-oppose {
  background-color: var(--bs-orange);
}

.form-navigation-btn {
  min-width: 10rem;
  line-height: 2.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.tooltip-inner {
  font-family: "Nunito";
}

@keyframes fadeOut {
  0% {
    background-color: lightblue;
  }
  100% {
    background-color: inherit;
  }
}

/* Custom style in "Our Team" Page */
.our-team-tab .nav-item .nav-link {
  color: black;
  font-weight: 600;
  border-bottom: 3px solid;
  border-color: #0000001a;
}
.our-team-tab .nav-item .nav-link:hover {
  color: #c71e32;
}
.our-team-tab .nav-item .nav-link.active {
  color: #c71e32;
  border-color: #c71e32;
}

.our-team-dropdown-button {
  width: 100%;
  padding: 7px, 8px, 7px, 8px;
  border-radius: 8px;
  background: #12266f;
  color: white;
  border-color: #12266f;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-align: right;
}
/* .our-team-dropdown-button::after {
  display: none !important; 
} */
.our-team-dropdown-button.btn-primary:focus {
  width: 100%;
  padding: 7px, 8px, 7px, 8px;
  border-radius: 8px;
  background: #12266f;
  color: white;
  border-color: #12266f;
  box-shadow: none;
}

.our-team-dropdown-button.btn-primary:checked {
  width: 100%;
  padding: 7px, 8px, 7px, 8px;
  border-radius: 8px;
  background: #12266f;
  color: white;
  border-color: #12266f;
}
.our-team-dropdown-button.btn-primary:active {
  width: 100%;
  padding: 7px, 8px, 7px, 8px;
  border-radius: 8px;
  background: #12266f;
  color: white;
  border-color: #12266f;
}
.our-team-dropdown-button.btn-primary:hover {
  width: 100%;
  padding: 7px, 8px, 7px, 8px;
  border-radius: 8px;
  background: #12266f;
  color: white;
  border-color: #12266f;
}

.our-team-dropdown .dropdown-menu {
  width: 100%;
  border-radius: 8px;
  background: #12266f;
  color: white;
}

.our-team-dropdown .dropdown-item {
  width: 100%;
  border-radius: 8px;
  background: #12266f;
  color: white;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.015em;
  padding: 7px, 8px, 7px, 8px;
}
