.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 30vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-wrapper {
		font-style: italic;
		margin: 0 15px;
}

.priorities {
		text-align: left;
		width: 100%;
}

.flexdiv{
  display: flex;
}

/* Box styles */
.twitter {
  border: none;
  padding: 5px;
  font: 24px/36px sans-serif;
  width: 350px;
  height: 500vh;
  overflow: scroll;
  }
  
  /* Scrollbar styles */
  .twitter::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  }
  
  .twitter::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
  }
  
  .twitter::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;  
  }
  
  .twitter::-webkit-scrollbar-thumb:hover {
  background: #999;  
  }

  .childDiv {
    padding-left: 50px;
    padding-right: 50px;
  }


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
