:root {
    --color--district: rgba(0, 0, 0, 0.2);
    --color--district--active: rgba(0, 0, 0, 0.4);
    --color--Democrat: rgba(0, 0, 255, 0.5);
    --color--Democrat--active: rgba(0, 0, 255, 0.9);
    --color--Republican: rgba(255, 0, 0, 0.5);
    --color--Republican--active: rgba(255, 0, 0, 0.9);
}

/* Give the map a responsive 64% aspect ratio (same as Massachusetts) */
/* https://css-tricks.com/aspect-ratio-boxes/ */

#map-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 64%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#map:not(.leaflet-container)::after {
    content: '…loading map…';
    display: block;
    padding: 1rem;
    text-align: center;
    /* Matching .leaflet-container */
    font: oblique 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.legend {
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0 0.5rem;
}

.legend__item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.legend__item::before {
    background: var(--color--district);
    border-radius: 2px;
    content: '';
    display: block;
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.legend__item--Democrat::before {
    background: var(--color--Democrat);
}

.legend__item--Republican::before {
    background: var(--color--Republican);
}

.district {
    fill: var(--color--district);
    fill-opacity: 1;
    stroke: var(--color--district);
    stroke-width: 1;
}

.district:hover {
    stroke-width: 4;
}

.district--active {
    fill: var(--color--district--active);
}

.district--Democrat {
    fill: var(--color--Democrat);
}

.district--Democrat.district--active {
    fill: var(--color--Democrat--active);
}

.district--Republican {
    fill: var(--color--Republican);
}

.district--Republican.district--active {
    fill: var(--color--Republican--active);
}

.leaflet-control-search .search-input {
    outline: none;
    width: 15rem;
}

.leaflet-control-search .search-tooltip {
    margin: 2px 0 0;
    width: 100%;
    border-radius: 4px;
}

.leaflet-control-search .search-tip {
    margin: 0;
    border-radius: 0;
}
