/* Testing */
.form {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #e0e0e0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form > * {
    margin: auto;
}

/* Not sure how to make this work with modules, but not sure we even need to add further styling */
.freebirdFormviewerViewFormCard {
    width: 100px;
    background-color: red;
}