.passwordContainer {
  position: relative;
}

.passwordInput {
  padding-right: 32px !important;
}

.toggleButton {
  position: absolute;
  top: 20px;
  right: 10px;

  padding: 0;
  border: 0;
  background-color: inherit;
}

.toggleButton:hover {
  color: var(--bs-gray-700);
}

/* 
  when the password is showing and the eye slash icon is displayed, the button shifts 1px.
  this fixes that - notice how it is 1px less than the .toggleButton's right value
*/
.toggleButtonShowing {
  right: 9px;
}
